.e404 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.e404_title {
    margin-bottom: 25px;

    font-size: 270px;
}
.e404_text {
    font-size: 30px;
}


@media(max-width: 425px) {
    .e404_title {
        font-size: 100px;
    }
}