.menu {
    display: flex;
    gap: 32px;

    width: 100%;
    padding: 0 16px;
    
    border-bottom: 1px solid var(--eighth-color);
    overflow-x: auto;
}
.link,
.link:visited {
    padding: 18px 0;

    position: relative;

    font-weight: 800;
    font-size: 14px;
    color: var(--third-color);
    border-bottom: 3px solid var(--second-color);
}
.link.active {
    color: var(--main-color);
}