header {
    width: 100%;

    position: fixed;

    background: #121217;
    border-bottom: 1px solid #E5E8EB;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1280px;
    width: 100%;
    padding: 12px 40px;
}
.link_logo {
    display: flex;
    align-items: center;

    color: #fff;
}
.icon {
    margin-right: 16px;

    font-size: 36px;
}
.link_logo_text {
    font-weight: 800;
    font-size: 23px;
}

.nav_root {
    display: flex;
    align-items: center;
    gap: 32px;
}
.search {
    max-width: 160px;
    width: 100%;
    padding: 10px;
    padding-left: 50px;

    border-radius: 8px;
    background: #292B38;
    background-image: url('@assets/icon/search.svg');
    background-repeat: no-repeat;
    background-position: 16px 50%;
    background-size: 24px;
    overflow: hidden;

    font-size: 16px;
    color: #9EA3B8;

    transition: all 0.1s linear;
}
.search::placeholder {

    color: #9EA3B8;

    transition: all 0.1s linear;
}
.search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search:hover {
    box-shadow: 0px 0px 0px 2px #64677a;
}
.search:focus {
    padding-left: 10px;

    box-shadow: 0px 0px 0px 2px #64677a;
    background-position: -24px 50%;
}
.search:focus::placeholder {
    padding-left: 0;
}